
<div class="row">
	<div class="large-6 columns">
		<%= image_tag("side.png" , :class => "simg") %>
	</div>
	<div class="large-6 columns dright">
		<h2 class="vintage">RSVP Admin</h2>
		<div class="tab">
			<div class="tabtx scroller pacifico">
			
<div class="login-view">
    <%= form_tag sessions_path do %>
      <p>
        <%= label_tag :naam %>
        <%= text_field_tag :naam, params[:naam] %>
      </p>
      <p>
        <%= label_tag :password %>
        <%= text_field_tag :password, params[:password] %>
      </p>
      <div><%= submit_tag "Log in" %></div>
<% end %>
</div>
			</div>
		</div>
	</div>
</div>