<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
   <p>
    <%= f.label :naam %>
    <%= f.text_field :naam %>
  </p>
  <p>
    <%= f.label :urlname %>
    <%= f.text_field :urlname %>
  </p>
 <p >
    <%= f.label :answer%>
    <%= f.select :answer, [['Niet gereageerd', 0],['Gaat', 1], ['Gaat Niet', 2], ['Misschien', 3]] %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.text_field :password%>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>