<div class="admin-page">
  <h3>Gegevens gast aanpassen</h3>
  <div class="admin-menu">
    <%= render 'admin/menu' %>
  </div>
  <div class="admin-form">
<%= render 'form' %> 
<%= link_to 'Back', users_path %>
      </div>
    </div>
