<div class="admin-page">
    <h3>Uitgenodigde gasten</h3>
    <div class="admin-menu">
        <%= render 'admin/menu' %>
    </div>
    <div class="admin-sub-menu">
        <%= link_to 'Nieuwe Gast Toevoegen', new_user_path %>
    </div>
  <div class="admin-table">
    <table>
      <tr>
        <th>Naam Gast</th>
        <th>RSVP</th>
        <th>Wachtwoord</th>
      </tr>

      <% @users.each do |user| %>
        <tr>
          <td><%= user.naam %></td>
          <% if user.answer == 0 %>
          <td> Nog geen reactie</td>
         <% end%>
          <% if user.answer == 1 %>
          <td class="groen"> GAAT naar bruiloft</td>
         <% end%>
          <% if user.answer == 2 %>
          <td class="oranje"> gaat NIET naar de bruiloft</td>
         <% end%>
          <% if user.answer == 3 %>
              <td> gaat MISSCHIEN</td>
          <% end%>
          <td><%= user.password%></td>
           <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= button_to 'Destroy', user_path(user), method: :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>