<div class="admin-page">
    <h3>Nieuwe Gast</h3>

  <div class="admin-menu">
    <%= render 'admin/menu' %>
  </div>

    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited
          this post from being saved:</h2>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
      <% end %>
       <p>
        <%= f.label :naam %>
        <%= f.text_field :naam %>
      </p>
     <p >
        <%= f.label :answer%>
        <%= f.select :answer, [['Niet gereageerd', 0],['Gaat', 1], ['Gaat Niet', 2], ['Misschien', 3]] %>
      </p>
      <p>
        <%= @a = ["Strand", "Barbeque", "Spareribs", "Tiki", "Hawaii", "Vuur", "Bruid", "Jurk", "Boeket", "Taart", "Dessert", "Wijn", "Ring", "Rozen", "Bikini", "Zand", "Water", "Lucht", "Vakantie", "Feest", "Party", "Foto", "Dans", "Vreugde", "Trouw", "Surfen", "Blauw", "Zee" ]

        @random_password = (@a[rand(@a.length)] + @a[rand(@a.length)]) %>
        <%= f.label :password %>
        <%= f.hidden_field :password, :value => @random_password %>

      </p>
      <p>
        <%= f.label :urlname %>
        <%= f.text_field :urlname %>
      </p>
      <p>
        <%= f.submit %>
      </p>
    <% end %>

    <%= link_to 'Back', users_path %>
</div>