<div class="admin-page">
  <div class="guest-form">
    <h3>Meld je aan voor de bruiloft</h3>

 

    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited
          this post from being saved:</h2>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
      <% end %>

       <p>
        <%= f.label :naam %>
        <%= f.text_field :naam, :onkeyup => "fillinurl()", :id => "name" %>
      </p>
     <p >
        <label>Antwoord</label>
        <%= f.select :answer, [['Niet gereageerd', 0],['Gaat', 1], ['Gaat Niet', 2], ['Misschien', 3]] %>
      </p>
      <p>
        <%= f.label :Reden %>
        <%= f.text_field :reason %>
      </p>
      <div class="hidden">
      <p>
      	 <label>Wachtwoord</label>
        <%= @a = ["Strand", "Barbeque", "Spareribs", "Tiki", "Hawaii", "Vuur", "Bruid", "Jurk", "Boeket", "Taart", "Dessert", "Wijn", "Ring", "Rozen", "Bikini", "Zand", "Water", "Lucht", "Vakantie", "Feest", "Party", "Foto", "Dans", "Vreugde", "Trouw", "Surfen", "Blauw", "Zee" ]

        @random_password = (@a[rand(@a.length)] + @a[rand(@a.length)]) %>
       
        <%= f.hidden_field :password, :value => @random_password %>

      </p>
     
      <p>
        <%= f.label :urlname, 'Persoonlijke Pagina Link' %>
        <%= f.text_field :urlname, :id => "urlname", :readonly => true  %>
      </p>
      <p>
      </div>
        <%= f.submit "Sla op"%>
      </p>
    <% end %>
    <div class="admin-back">
      <% if current_user == admin %>
          <%= link_to 'Terug', users_path %>
      <% else %>
          <%= link_to 'Terug', root_path %>
      <%end %>

    </div>
  </div>


</div>

 <script type="text/javascript">
   function fillinurl()
   {
      document.getElementById('urlname').value = document.getElementById('name').value.replace(/\s/g, '');
      document.getElementById('showurl').value = document.getElementById('name').value.replace(/\s/g, '');
      
   }
 </script>