<p>
  <div class="row">
	<div class="large-6 columns">
		<%= image_tag("side.png" , :class => "simg") %>
	</div>
	<div class="large-6 columns dright">
		<h2 class="vintage">RSVP</h2>

		<div class="tab">
			<div class="tabtx scroller pacifico">
              <h4> Beste <%= @user.naam %></h4>
 <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %> 
 
<%= form_for :user, url: user_path(@user), method: :put do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <h5>
    Geef hieronder jouw RSVP antwoord door
  </h5>
  <p>  <%= f.select :answer, [['Nog niet gereageerd', 0],['Gaat Wel naar Bruiloft', 1], ['Gaat Niet', 2], ['Misschien', 3]] %>
  </p>
 
  <p>
  	 <p>
        <%= f.label :Reden %>
        <%= f.text_field :reason %>
      </p>
    <%= f.submit "Sla op" %>
  </p>
<% end %>
  
 
			</div>
		</div>
	</div>
</div>
  