<div class="admin-page">
  <div class="admin-menu">
  <% if current_user == admin %>
     <%= render 'admin/menu' %>
  <%end %>
  </div>
  <h3>Beste <%= @user.naam %>, </h3>
  <h4>Hartelijk dank voor jouw inschrijving!</h4>

  <h4>Groetjes,  Scarlett en Koen</h4>
         <br/>

   <div class="admin-form century">
     <h5>
       Mocht je naderhand jouw inschrijving willen aanpassen, dan kan het met onderstaande link. Schrijf het indien nodig op:
     </h5>
    <p>
      <%= "www.scarlettenkoentrouwen.nl/" + @user.urlname %>
    </p>

	</br>
    <p >
      <strong>Jouw RSVP antwoord: </strong>
      <% if @user.answer == 1 %>
      <strong>Ja, ik kom naar de bruiloft</strong>
      <% elsif @user.answer == 0%>
      Nog geen reactie
      <% elsif @user.answer == 3%>
      Misschien
      <% else %>
      <strong>Ik ga niet</strong>
      <%end%>
     </br>
    </p>
     <%	 if @user.answer == 2 || @user.answer == 3 %>
     <p>
      <strong>De reden voor jouw reactie: </strong>
      
      <%= @user.reason %>
    </p>
         <%end%>
   
     <div class="admin-back">
       <% if current_user == admin %>
           <%= link_to 'Terug', users_path %>
       <% else %>
           <%= link_to 'Terug', root_path %>
       <%end %>

     </div>
  </div>
</div>