<div class="row">
	<div class="large-6 columns">
		<%= image_tag("side.png" , :class => "simg") %>
	</div>
	<div class="large-6 columns dright">
		<h2 class="vintage">14-08-14</h1>
		<div class="tab">
			<div class="tabtx scroller pacifico">
			<h1>Foto's</h1>
			<%= link_to 'Nieuwe Foto', new_post_path %> 
			<table>
 			<tr>
    		<th>Titel</th>
    		<th>Foto</th>
  			</tr>
 	
  			<% @posts.each do |post| %>
    		<tr>
      		<td><%= post.title %></td>
      		<td><%= image_tag post.image_url(:thumb) if post.image? %></td>
       		<td><%= link_to 'Show', post %></td>
    
    		</tr>
  			<% end %>
			</table>
			</div>
		</div>
	</div>
</div>
