<div class="admin-page">
    <h3>Lijst met Foto's en opties</h3>
    <div class="admin-menu">
      <%= render 'admin/menu' %>
    </div>
    <div class="admin-sub-menu">
    <%= link_to 'Nieuwe Foto', new_post_path %>
      </div>
    <table>
      <tr>
        <th>Title</th>
        <th>Text</th>
      </tr>

      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= image_tag post.image_url(:thumb) if post.image? %></td>
           <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= button_to 'Destroy', post_path(post), method: :delete %></td>
        </tr>
      <% end %>
    </table>
</div>