



<div class="row">
	<div class="large-6 columns">
		<%= image_tag("side.png" , :class => "simg") %>
	</div>
	<div class="large-6 columns dright">
		<h2 class="vintage">14-08-14</h1>
		<div class="tab">
			<div class="tabtx scroller pacifico">
<h1>Nieuwe Foto</h1>

<br />
<%= render 'form' %>
			</div>
		</div>
	</div>
</div>