

<div class="row">
	<div class="large-6 columns">
		<%= image_tag("side.png" , :class => "simg") %>
	</div>
	<div class="large-6 columns dright">
		<h2 class="vintage">14-08-14</h1>
		<div class="tab">
			<div class="tabtx scroller pacifico">
			<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<p> <%= image_tag @post.image_url if @post.image? %></p>
 <p>
  <strong>Gebruiker:</strong>
  <%= @post.user.naam %>
</p> 



<h2>Comments</h2>


<% @post.comments.each do |comment| %>
  
    <%	if comment.user_id.nil? %>
   		<p> there is no object <p>
   <% else %>
   <p>
    <strong>User:</strong>
    	<%= comment.user.naam%>
   </p>
   	
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
  <p>
    <strong>Text:</strong>
    <%= comment.body %>
  </p>
   <% end %>
  
 
<% end %>

 <h2>Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :titel %><br />
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %> 
			</div>
		</div>
	</div>
</div>



