body
{

  background-image:url('texture.jpg');
  background-size: cover;
  background-position: center;
  background-color:#cccccc;
  background-repeat: no-repeat;
  color: #555;
  overflow: hidden;
  font-family: 'rubber_stampregular';
}

#plate
{
 margin-top: 10px;
 background-image:url('tab.png');
 background-size: cover;
 background-repeat: no-repeat;
 height: 750px;
 width: 1000px;
}

#menu{
  margin-top: 170px;
  position: relative;
  text-align: right;
  float: right;
  margin-right: 305px;
  z-index: 30;
}

#user_nav{
  display: inline-block;
  float: right;
}

.simg{
  margin-top: -40px;
  margin-left: -10px;
  z-index: 10;
  position: absolute;
}

.tab{
  background-image: url('tekstf.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 380px;
  height: 350px;
  margin-left: -80px !important;
  position: relative;
  z-index: 1;
  margin-top: -30px;
}
.tabtx{
  margin: 35px 50px 35px 60px;
  display: inline-block;
  text-align: center;
  height: 265px;
}

.tabtx h1,h2,h3,h4,h5{
  font-family: 'pacificoregular';
}
.scroller{
  overflow-y: scroll;
}


@font-face {
    font-family:'stencil_style_newregular';
    src: url('stencilstylenew-webfont.eot');
    src: url('stencilstylenew-webfont.eot?#iefix') format('embedded-opentype'),
         url('stencilstylenew-webfont.woff') format('woff'),
         url('stencilstylenew-webfont.ttf') format('truetype'),
         url('stencilstylenew-webfont.svg#stencil_style_newregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.stencil{
    font-family: 'stencil_style_newregular';
  text-transform: uppercase;
  color: white;
  font-size: 36px;
}

#menu a{
  color:white !important;
  
}

#menu a:hover{
  
  color:#666666 !important ;
}





@font-face {
    font-family:'hand_printing_press_meshed_Rg';
    src: url('handprintingpress_meshed_demo-webfont.eot');
    src: url('handprintingpress_meshed_demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('handprintingpress_meshed_demo-webfont.woff') format('woff'),
         url('handprintingpress_meshed_demo-webfont.ttf') format('truetype'),
         url('handprintingpress_meshed_demo-webfont.svg#hand_printing_press_meshed_Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

.handprint{
  font-family: 'hand_printing_press_meshed_Rg';
  text-transform: uppercase;
  color: white;
  font-size: 36px;
}

@font-face {
    font-family: 'pacificoregular';
    src: url('pacifico-webfont.eot');
    src: url('pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('pacifico-webfont.woff') format('woff'),
         url('pacifico-webfont.ttf') format('truetype'),
         url('pacifico-webfont.svg#pacificoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.pacifico{
  font-family: 'rubber_stampregular';
}
.century{
  font-family: 'rubber_stampregular';
}
@font-face {
    font-family: 'vintageonemedium';
    src: url('vintageone-webfont.eot');
    src: url('vintageone-webfont.eot?#iefix') format('embedded-opentype'),
         url('vintageone-webfont.woff') format('woff'),
         url('vintageone-webfont.ttf') format('truetype'),
         url('vintageone-webfont.svg#vintageonemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
.vintage{
  font-family: 'vintageonemedium';
  color: #d49c46;
  margin-top: 5px;
  position: relative;
  margin-left: -100px;
  font-size: 60px;
}
.vintage-small{
  font-size: 30px !important;
  margin-bottom: 10px;
}

@font-face {
  font-family: 'rubber_stampregular';
  src: url('rubber_stamp2_2-webfont.eot');
  src: url('rubber_stamp2_2-webfont.eot?#iefix') format('embedded-opentype'),
  url('rubber_stamp2_2-webfont.woff') format('woff'),
  url('rubber_stamp2_2-webfont.ttf') format('truetype'),
  url('rubber_stamp2_2-webfont.svg#rubber_stampregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

h1, h2, h3, h4, h5, h6 {
  color: #555;
  font-family: 'rubber_stampregular';
}
h3{
  font-family: 'vintageonemedium' !important;
  margin-top: 15px;
  margin-bottom: 0px;
}
h4 {
  margin-top: 10px;
}
h5 {
  margin-top: 15px !important;
  font-size: 14pt;
  line-height: 16pt;
}
label {
  font-size: 14pt !important;
  margin-bottom: 0px;
  margin-top: 10px;
}
.login-view {
  margin: 40px 0 0 40px;
}
a{
  padding-left: 10px;
}
#menu a:hover {
  color: #d49c46 !important;
}
.admin-page {
  position: absolute;
  margin-top: 200px;
  margin-left: 25px;
  width: 600px;
}
.admin-menu {
  margin-left: -10px;
  font-size: 16pt;
  margin-top: 10px;
}
.admin-sub-menu {
  margin: 10px 0 10px -10px;
  margin-top: 10px;
}
#name, #user_reason {
  background-color: antiquewhite;
}
p {
  margin-bottom: 0;
  font-size: 13pt;
  line-height: 15pt;
}
.admin-form {
  margin-top: 30px;
}
.admin-table {
  height: 300px;
  overflow: scroll;
  margin-top: 15px;
}
table tr td {
  padding: 0em 0.625em;
}
.admin-back {
  margin-left: -10px;
  margin-top: 30px;
}
#flash_notice {
  color: #E7971C;
  font-size: 14pt;
  line-height: 18pt;
}
.no-overflow{
  overflow: hidden !important;
}
.oranje{
   color: #E7971C;
 }
.groen{
  color: #40e77e;
}
.hidden{
  display: none;
}
.guest-form {
  width: 450px !important;
  margin-top: 70px;
  margin-right: 0;
  margin-left: 60px;
  margin-bottom: 0;
}