<%= form_for @info, :html => {:multipart => true} do |f|%>
  <% if @info.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@info.errors.count, "error") %> prohibited
      this info from being saved:</h2>
    <ul>
    <% @info.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
    <div class="admin-form">
       <p>
        <%= f.label :titel %>
        <%= f.text_field :titel %>
      </p>

      <p>
        <%= f.label :inhoud %>
        <%= f.text_field :cont %>
      </p>

      <p>
        <%= f.submit %>
      </p>
    </div>
<% end %>