<div class="admin-page">
  <h3>Berichten op pagina "De Trouwdag"</h3>
  <div class="admin-menu">
    <%= render 'admin/menu' %>
  </div>
  <div class="admin-sub-menu">
    <%= link_to 'Voeg nieuw bericht toe', new_info_path %>
  </div>
  <div class="admin-table">
    <table>
      <tr>
        <th>Titel bericht</th>
        <th>Tekst bericht</th>
      </tr>

      <% @infos.each do |info| %>
        <tr>
          <td><%= info.titel %></td>
          <td><%= info.cont %></td>
           <td><%= link_to 'Show', info %></td>
        <td><%= link_to 'Edit', edit_info_path(info) %></td>
        <td><%= button_to 'Destroy', info_path(info), method: :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>