<div class="admin-page">
<h3>Nieuw bericht op hoofdpagina "De Trouwdag"</h3>
<div class="admin-menu">
<%= render 'admin/menu' %>
</div>

<%= render 'form' %>

<%= link_to 'Back', infos_path %>
</div>
