<div class="row">
	<div class="large-6 columns">
		<%= image_tag("side.png" , :class => "simg") %>
	</div>
	<div class="large-6 columns dright">
		<h2 class="vintage">07-08-14</h1>
		<div class="tab">
			<div class="tabtx scroller pacifico">
			<h4> Laatste Nieuws</h4>
			<div class="century">
  			<% @infos.each do |info| %>
    		
      		<h5 class="century"><%= info.titel %></h5>
      		<p><%= info.cont %></p>
    		
  			<% end %>
			</div>
			</div>
		</div>
	</div>
</div>