<div class="admin-page">
  <h3>Bericht weergeven</h3>
  <div class="admin-menu">
    <%= render 'admin/menu' %>
  </div>
  <div class="admin-form">
<p>
  <strong>Titel bericht:</strong>
  <%= @info.titel %>
</p>
<p>
  <strong>Inhoud:</strong>
  <%= @info.cont %>
</p>

    <div class="admin-back">
    <%= link_to 'Back',  infos_path %>
    </div>
    </div>
</div>