<div id="menu">
	<div class="handprint">
	<%= link_to "De Trouwdag", root_path %>
    <%= link_to "RSVP", newrsvp_path%>
    <% if current_user == admin%>
  	<%= link_to "Admin", admin_path %>
  	<%= link_to "Log out", log_out_path %>
  <% end%>
    
    <!-- 
    <%= link_to "Nieuws", nieuws_path %>
   
    <%= link_to "Fotoboek", fotoboek_path %>
   	
    
   -->
  <!-- <div id="user_nav">
  <% if current_user %>
    ingelogd als <%= current_user.naam %>.
    
    
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "log in", log_in_path %>
  <% end %>
  </div> -->
</div>
</div>